Opgave 1

Model an organisation of employees, management and board of directors in 3 sets.

Board of directors: Benny, Hans, Tine, Mille, Torben, Troels, Søren

Management: Tine, Trunte, Rane

Employees: Niels, Anna, Tine, Ole, Trunte, Bent, Rane, Allan, Stine, Claus, James, Lars

who in the board of directors is not an employee?
who in the board of directors is also an employee?
how many of the management is also member of the board?
All members of the managent also an employee
All members of the management also in the board?
Who is an employee, member of the management, and a member of the board?
Who of the employee is neither a memeber or the board or management

Note: set er forskellig fra liste ved at den kun kan have unikke værdier og vil fjerne duplicates.
set er forskellig fra dictionary da det ikke har key value pairs. Bruger dog også curly brackets. 
husk: snake_case in python

Hvordan opgaven er løst: har kigget på built-in functions for de objekter, som man har med at gøre.

In [17]:
board_of_directors = {"Benny", "Hans", "Tine", "Mille", "Torben", "Troels", "Søren"}
management = {"Tine", "Trunte", "Rane"}
employees = {"Niels", "Anna", "Tine", "Ole", "Trunte", "Bent", "Rane", "Allan", "Stine", "Claus", "James", "Lars"}

#who in the board of directors is not an employee?
board_of_directors.difference(employees)

#who in the board of directors is also an employee?
board_of_directors.intersection(employees)
# kunne også være: employees.intersection(board_of_directors), det er det samme med intersectio

#how many of the management is also member of the board?
len(board_of_directors.intersection(management))

#All members of the managent also an employee
management.issubset(employees)

#All members of the management also in the board?
management.issubset(board_of_directors)

#Who is an employee, member of the management, and a member of the board?
board_of_directors.intersection(employees.intersection(management))
#optimeret løsning:
board_of_directors.intersection(employees, management)

#Who of the employee is neither a memeber or the board or management
employees.difference(board_of_directors, management)

{'Allan', 'Anna', 'Bent', 'Claus', 'James', 'Lars', 'Niels', 'Ole', 'Stine'}

Opgave 2

Create a list of tuples from the folowing datastructure

{‘a’: ‘Alpha’, ‘b’ : ‘Beta’, ‘g’: ‘Gamma’}

In [19]:
[('a', 'Alpha'), ('b', 'Beta'), ('g', 'Gamma')]

[('a', 'Alpha'), ('b', 'Beta'), ('g', 'Gamma')]

Opgave 3

From these 2 sets:
{'a', 'e', 'i', 'o', 'u', 'y'}

{'a', 'e', 'i', 'o', 'u', 'y', 'æ' ,'ø', 'å'}

Create a:

Union
Symmetric Difference
Difference
disjoint

You should provide the solutions both using:

Set methods ( like: S1.union(S2) or S1.add(x)  ), and
Set oprators ( like: S1|S2 or S1&S2)

So all solutions has to be solved twice.

In [26]:
set1 = {'a', 'e', 'i', 'o', 'u', 'y'}
set2 = {'a', 'e', 'i', 'o', 'u', 'y', 'æ' ,'ø', 'å'}

set1.union(set2)
set1 | set2

set1.symmetric_difference(set2)
set1 ^ set2

set1.difference(set2)
set1 - set2

set1.isdisjoint(set2)
not bool(set1 & set2)

False

Opgave 4

Date Decoder.
A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number.

Create a dict suitable for decoding month names to numbers.

Create a function which uses string operations to split the date into 3 items using the "-" character.

Translate the month, correct the year to include all of the digits.

 

The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

In [2]:
#A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number.

def date_decoder(date):
    #key er navn og value er tal, da man søger på navn og får tal ud af det
    months = {
        'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06', 'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'
    }

    date_list = date.split('-')
    print(date_list)

    date_list[1] = months.get(date_list[1])
    print(date_list)

    date_list[2] = int(date_list[2])
    print(date_list)

    if date_list[2] < 23:
        date_list[2] += 2000
    else:
        date_list[2] += 1900
    
    date_list[2] = str(date_list[2])
    print(date_list)

    date_list_reversed = list(reversed(date_list)) #ny liste laves for at undgå side effects
    print(date_list_reversed)

    date_tuple = tuple(date_list_reversed)
    print(type(date_tuple))

    return date_tuple
    



current_year = 23    

date = '09-JAN-99'
date_decoder(date)

['09', 'JAN', '99']
['09', '01', '99']
['09', '01', 99]
['09', '01', '1999']
['1999', '01', '09']
<class 'tuple'>

('1999', '01', '09')

Opgave 5

Party exercise

You are organizing a party and have two lists of friends. One list contains the friends you have invited, and the other list contains the friends who have RSVP'd.

You want to find out who has not RSVP'd, who was not invited but RSVP'd, and who are common in both lists.

Task: Write a Python program that takes two sets of names, one set containing the names of friends invited to the party and another set containing the names of friends who have RSVP'd.
The program should then print out the names of friends who have not RSVP'd, the names of friends who were not invited but RSVP'd, and the names of friends who are common in both lists (i.e., invited and RSVP'd).

Opgave 6

You are a teacher and have a dictionary containing the names of your students as keys and their grades as values.

You want to update the grades of some students and then print out the names of all students who have a grade higher than 85.

Task: Write a Python program that takes a dictionary of students and their grades, updates the grades of specific students, and then prints out the names of all students who have a grade higher than 85.