Opgave 1

Model an organisation of employees, management and board of directors in 3 sets.

Board of directors: Benny, Hans, Tine, Mille, Torben, Troels, Søren

Management: Tine, Trunte, Rane

Employees: Niels, Anna, Tine, Ole, Trunte, Bent, Rane, Allan, Stine, Claus, James, Lars

who in the board of directors is not an employee?
who in the board of directors is also an employee?
how many of the management is also member of the board?
All members of the managent also an employee
All members of the management also in the board?
Who is an employee, member of the management, and a member of the board?
Who of the employee is neither a memeber or the board or management

Note: set er forskellig fra liste ved at den kun kan have unikke værdier og vil fjerne duplicates.
set er forskellig fra dictionary da det ikke har key value pairs. Bruger dog også curly brackets. 
husk: snake_case in python

Hvordan opgaven er løst: har kigget på built-in functions for de objekter, som man har med at gøre.

In [17]:
board_of_directors = {"Benny", "Hans", "Tine", "Mille", "Torben", "Troels", "Søren"}
management = {"Tine", "Trunte", "Rane"}
employees = {"Niels", "Anna", "Tine", "Ole", "Trunte", "Bent", "Rane", "Allan", "Stine", "Claus", "James", "Lars"}

#who in the board of directors is not an employee?
board_of_directors.difference(employees)

#who in the board of directors is also an employee?
board_of_directors.intersection(employees)
# kunne også være: employees.intersection(board_of_directors), det er det samme med intersectio

#how many of the management is also member of the board?
len(board_of_directors.intersection(management))

#All members of the managent also an employee
management.issubset(employees)

#All members of the management also in the board?
management.issubset(board_of_directors)

#Who is an employee, member of the management, and a member of the board?
board_of_directors.intersection(employees.intersection(management))
#optimeret løsning:
board_of_directors.intersection(employees, management)

#Who of the employee is neither a memeber or the board or management
employees.difference(board_of_directors, management)

{'Allan', 'Anna', 'Bent', 'Claus', 'James', 'Lars', 'Niels', 'Ole', 'Stine'}

Opgave 2

Create a list of tuples from the folowing datastructure

{‘a’: ‘Alpha’, ‘b’ : ‘Beta’, ‘g’: ‘Gamma’}

In [19]:
[('a', 'Alpha'), ('b', 'Beta'), ('g', 'Gamma')]

[('a', 'Alpha'), ('b', 'Beta'), ('g', 'Gamma')]

Opgave 3

From these 2 sets:
{'a', 'e', 'i', 'o', 'u', 'y'}

{'a', 'e', 'i', 'o', 'u', 'y', 'æ' ,'ø', 'å'}

Create a:

Union
Symmetric Difference
Difference
disjoint

You should provide the solutions both using:

Set methods ( like: S1.union(S2) or S1.add(x)  ), and
Set oprators ( like: S1|S2 or S1&S2)

So all solutions has to be solved twice.

In [26]:
set1 = {'a', 'e', 'i', 'o', 'u', 'y'}
set2 = {'a', 'e', 'i', 'o', 'u', 'y', 'æ' ,'ø', 'å'}

set1.union(set2)
set1 | set2

set1.symmetric_difference(set2)
set1 ^ set2

set1.difference(set2)
set1 - set2

set1.isdisjoint(set2)
not bool(set1 & set2)

False

Opgave 4

Date Decoder.
A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number.

Create a dict suitable for decoding month names to numbers.

Create a function which uses string operations to split the date into 3 items using the "-" character.

Translate the month, correct the year to include all of the digits.

 

The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

In [ ]:
#A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number.

def dates(date):
    month_dict = {
        'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06', 'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'
    }